body{
  font-family:Arial;
  background-color:skyblue;
  overscroll-behavior:none;
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
#content{
  text-align: center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
button{
  cursor:pointer;
  border:none;
  padding:2px 10px 2px 10px;
  height:22px;
  border-radius:5px;
  background-color:navy;
  color:white;
}
button:hover{
  background-color:mediumblue;
}
button:disabled,
button:disabled:hover{
  background-color:gray;
  cursor:default;
}